
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}
/*---------------END OF THE RESET----------------------*/

/*---------THE STYLING STARTS HERE----------------------*/

main {
  width: 90%;
  margin: auto;
  max-width: 1440px;
}

nav {
  background-color: gray;
  height: 40px;
  width: 50%;
  position: absolute;
  top: 15%;
  left: 25%;
  right: 25%;
  border-radius: 2px;
}

.main-image {
  background-image: url(img/hero.jpg);
  background-size: 100%;
  background-position-y: bottom;
  height: 900px;
  width: 100%;
}

.small-image {
  background-color: yellow;
  width: 360px;
  height: 200px;
  float: left;
  background-position: 50% 0%;
  background-size: 100%;
}

footer {
  background-color: lightblue;
  width: 100%;
  height: 90px;
  clear: both;
  padding: 15px 25%
}

.clear {
  clear: both;
}

.flex {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  padding-top: 12px;
  text-align: center;
  height: 100%;
  width: 50%;
  border-right: rgb(133, 133, 133) solid 1px;
  color: white;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.nav-list:hover {
  background-color: #4b4b4b;
}

.nav-gradient {
  background: #808080;
  background: -webkit-linear-gradient(#666, #5e5e5e, #707070, #808080);
  background: linear-gradient(#666, #5e5e5e, #707070 50%, #808080);
}

#apple-logo {
  background-image: url(img/apple-logo.svg);
  background-position: 51% -3%;
}

.nav-input {
  width: 100px;
  border-radius: 40px;
  background-image: url(img/search.png);
  background: no-repeat;
}

#li-input {
  width: 120px;
  padding: 0 10px;
}

#img1 {
  background-image: url(img/img1.jpg);
}

#img2 {
  background-image: url(img/img2.jpg);
}

#img3 {
  background-image: url(img/img3.jpg);
}

#img4 {
  background-image: url(img/img4.jpg);
  }
